# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec
*.egg

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
desktop.ini

# App data
custom_sheets.json
